html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-family: 'Open Sans';
  box-sizing: border-box;
}
body {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 80%; */
  min-height: 100vh;
}
img {
  margin-bottom: 25px;
  max-width: 100%;
}
.panel {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 10px solid white;
  border-radius: 10px;
  padding: 15px 25px;
  /* width: 50%; */
  max-width: 960px;
  text-align: center;
  text-transform: uppercase;
  /* margin-bottom: 10px; */
}

.pricing-plan {
  border-bottom: 2px solid #e1f1ff;
  /* padding: 10px; */
}

.pricing-plan:last-child {
  border-bottom: none;
}

.pricing-header {
  padding-bottom: 10px;
  /* border-bottom: 1px solid black; */
  font-weight: 600;
  letter-spacing: 1px;
  color: gray;
}

.pricing-features {
  margin: 10px 0 15px;
  color: #016ff9;
  padding: 10px;
}

.pricing-features-item {
  padding: 20px;
  /* margin-bottom: 20px; */
  font-weight: 600px;
  letter-spacing: 1px;
  border-top: 1px solid #e1f1ff;
  line-height: 1.5;
  font-size: 12px;
}

.pricing-features-item:last-child {
  border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
  display: block;
  /* padding-bottom: 30px; */
  font-size: 30px;
  font-weight: 700;
  color: blue;
}

.pricing-button {
  color: #348efe;
  border-radius: 10px;
  border: 1px solid #9dd1ff;
  padding: 10px 30px;
  text-decoration: none;
  display: inline-block;
  margin: 20px 0;
}

.pricing-button:hover {
  background-color: #e1f1ff;
  transition: background-color 500ms;
}

.pricing-button.is-featured {
  background-color: #48aaff;
  color: white;
}
.pricing-button.is-featured:hover,
.pricing-button.is-featured:focus {
  background-color: #269aff;
}

@media (min-width: 900px) {
  .panel {
    flex-direction: row;
  }

  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    padding: 25px 40px;
  }
  .pricing-plan:last-child {
    border-right: none;
  }
}

/* .pricing-plan {
  width: 30%;
  height: 400px;
  border-right: 2px solid lightgray;
} */
