body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: black;
  height: 100%;
}

.alert {
  background-color: aquamarine;
  padding: 20px 35px;
  margin: 10px 10px;
}

.container {
  /* display: block; */
  /* position: relative; */
  margin: 40px auto;
  /* height: auto; */
  color: grey;
  width: 500px;
}

.container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  /* overflow: auto; */
}

.container ul li {
  display: block;
  font-size: x-large;
  padding: 5px 10px;
  border-bottom: 1px solid grey;
  width: 100%;
  height: 80px;
  position: relative;
  float: left;
}

.container li input[type='radio'] {
  position: absolute;
  visibility: hidden;
}

ul li label {
  display: block;
  cursor: pointer;
  transition: all 0.25s;
  position: relative;
  padding: 20px 80px;
  -webkit-transition: all 0.25s linear;
}

ul li:hover label {
  color: white;
  /* transition: all 0.25s; */
}

ul li .check {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  border: 4px solid grey;
  border-radius: 100%;
  top: 20px;
  left: 20px;
  z-index: 5;
  transition: all 0.25s;
}

ul li:hover .check {
  border: 4px solid white;
}

ul li .check::before {
  display: block;
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  top: 5px;
  left: 5px;
  border-radius: 100%;
  margin: auto;
}

input[type='radio']:checked ~ .check {
  border: 5px solid #0dff92;
}

input[type='radio']:checked ~ .check::before {
  background: #0dff92;
}

input[type='radio']:checked ~ label {
  color: #0dff92;
}
