/* This is for circle */
body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #151b29;
}

button:hover {
  border-color: #f1ff5c;
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
  transform: translateY(-0.25em);
  cursor: pointer;
}

button {
  background: none;
  color: #ffa260;
  border: 2px solid;
  padding: 1em 2em;
  font-size: 1em;
  transition: transform 2s;
  /* transition: border-color 0.5s, box-shadow 2s transform 1s; */
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  background-color: beige;
  margin: 2em;
}

/* .circle {
  width: 200px;
  height: 200px;
  background-color: blue;
  transition: background-color 1s, border-radius 1s;
  border-radius: 10%;
}

.circle:hover {
  background-color: cyan;
  transition: background-color 1s, border-radius 1s;
  border-radius: 50%;
} */
